{% extends 'base.html.twig' %}

{% block body %}
    <div class="container_list_project" id="projets">
        <h2 class="title_container">Liste des projets</h2>

        <div class="container_cards_projects">
            {% for projet in projets %}
                <div class="cards_projects">
                    <img src="{{ asset('img/' ~ projet.image) }}" class="card_img">

                    <h4 class="title_card">{{ projet.name }}</h4>

                    <div class="link_projects">
                        {% if projet.link != null %}
                            <a href="{{ projet.link }}" target="_blank"><i class="fa-solid fa-link icone"></i></a>
                        {% endif %}
                        
                        {% if projet.github != null %}
                            <a href="{{ projet.github }}" target="_blank"><i class="fa-brands fa-github icone"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container_contact" id="contact">
        <h2 class="title_container">Contactez-nous</h2>

        <div class="contact_form">
            <form action="">
                <div class="card_form">
                    <label for="nom">Nom</label>
                    <input type="text" name="nom">
                </div>

                <div class="card_form">
                    <label for="prenom">Prénom</label>
                    <input type="text" name="prenom">
                </div>

                <div class="card_form">
                    <label for="mail">Adresse mail</label>
                    <input type="mail" name="mail">
                </div>

                <div class="card_form">
                    <label for="message">Message</label>
                    <textarea type="text" name="message"></textarea>
                </div>

                <input type="submit" value="Envoyer" class="submit">
            </form>

            <div class="container_map">
                <div class="row">
                    <div class="col-10">
                        <div id="map"></div>
                    </div>
                    <div class="col-2">
                        <input type="text" name="address" id="address" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}