{% extends 'base.html.twig' %}

{% block body %}
    <div class="connexion_container">
        <h2 class="title_container">Ajout d'un utilisateur</h2>

        {{ form(form) }}
    </div>
{% endblock %}